<!DOCTYPE html>
<html>
<head>
	<title>Tittle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../addons/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./default.css">
	<script src="../addons/jquery-3.1.1.min.js"></script>
	<script src="../addons/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="flex-container text-center">

		<header class="flex-row">
			<!---->
			<div class="col-sm-4">Схема проезда</div>
		  	<div class="no-indent col-sm-4 col-sm-offset-4">Вход в личный кабинет</div>
		  	<!---->
		</header>

		<nav class="flex-row">
			<!---->
			<div class="col-sm-2">Главная</div>
		  	<div class="col-sm-2">Наша команда</div>
		  	<div class="col-sm-4">Услуги и цены</div>
		  	<div class="col-sm-2">Родительское отделение</div>
		  	<div class="col-sm-2">Контакты</div>
		  	<!---->
		</nav>

		<section class="flex-1-col flex-extend-30">
			<!---->
			<div class="flex-row flex-extend-30">Баннер</div>
			<div class="flex-row">
				<div class="col-sm-6">Репродукция</div>
				<div class="col-sm-6">Неоантология</div>
			</div>
			<!---->
		</section>

		<article class="flex-1-table flex-extend-40">
			<!---->
			<div class="col-sm-2">
				<div>Запись на прияем</div>
				<div>Заказать обратный звонок</div>
				<div>Связаться с доктором</div>
				<div>Расписание работы врачей</div>
			</div>
			<div class="col-sm-4">
				<div>Список</div>
				<div>Список</div>
			</div>
			<div class="col-sm-4">
				<div>Список</div>
				<div>Список</div>
			</div>
			<div class="col-sm-2">
				<div>Новости</div>
				<div>Обучающие видеоматериалы</div>
			</div>
			<!---->
		</article>

		<footer class="flex-1-row">
			<!---->
			<div>footer</div>
			<!---->
		</footer>

	</div>
</body>
</html>