<!DOCTYPE html>
<html>
<head>
	<title>Tittle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../addons/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./default.css">
	<script src="../addons/jquery-3.1.1.min.js"></script>
	<script src="../addons/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="flex-container text-center">

		<article class="flex-1-table flex-extend-90">
			<!---->
			<div class="col-sm-2" >
				<div>Белый Алист личный кабинет #номер#</div>
				<div>Результаты анализов</div>
				<div>История посещений и назначения врача</div>
				<div>Запись на прием</div>
				<div>Расписание работы врачей</div>
				<div>Информация о питомце</div>
				<div>Добавить фото</div>
			</div>
			<div class="col-sm-7">
				<div class="flex-row">
					<div>Имя / Почта / #номер#</div>
					<div>Выберите питомца (Выпадающий)</div>
				</div>
				<div class="flex-extend-50">Таблица</div>
				<div>поделиться в vk</div>
			</div>
			<div class="col-sm-3">
				<div>Пополнить счет</div>
				<div class="flex-extend-30">Акета клиента</div>
			</div>
			<!---->
		</article>

		<footer class="flex-1-row">
			<!---->
			<div>footer</div>
			<!---->
		</footer>

	</div>
</body>
</html>